<ul class="nav_buttons">

  <li id="page_1"><img src="/assets/car-icon.jpg">
  </li>

  <li id="page_2"><img src="/assets/car-icon.jpg">
  </li>

  <li id="page_3"><img src="/assets/car-icon.jpg">
  </li>
 
  <li id="page_4"><img src="/assets/car-icon.jpg">
  </li>

</ul>